<div class="search-form-container">
  <button class="expand-button">Expand search</button>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-group autocomplete">
        <%= semantic_form_for search, html: {id: "search-form"} do |f| %>
          <%= f.inputs do %>
            <%= f.hidden_field :atlas_id %>
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lng %>

            <label
              for="suburbAutocomplete"
              class="sr-only"
            >
              Where are you?
            </label>

            <%= f.search_field :suburb,
              id: "suburbAutocomplete",
              placeholder: " Search by suburb or postcode",
              autocomplete: "off",
              required: true,
              class: search.errors[:suburb].any? ? 'invalid' : 'valid'
            %>

            <div id="autocompleteResults"></div>

            <div class="select-row">
              <%= f.input :school_type, as: :select, collection: Search::SchoolTypes, include_blank: false %>
              <%= f.input :autism_classification, as: :select, collection: Search::AutismClassifications, include_blank: false %>
              <%= f.input :sector, as: :select, collection: Search::Sectors, include_blank: false %>
            </div>
          <% end %>
          <%= f.action :submit, label: "Search" %>

        <% end %>
      </div>

    </div>
  </div>
</div>
