<h1>
  <%= @school.name %>
</h1>
<%= @school.display_address %>
<br />
<%= link_to @school.url, @school.url %>
<br />

<h2>Reviews</h2>
<%= link_to "Help other parents by adding your review", new_school_review_url(@school) %>
<ul>
<% @school.reviews.published.recent.each do |review| %>
  <li class="review">
    <%= review.review_type %><br/>
    My child is: <%= review.child_characteristics.join(", ") %><br/>
    Good: <%= review.pros %> <br/>
    Bad: <%= review.cons %> <br/>
    Ugly: <%= review.comments %> <br/>
    When: <%= review.created_at %> <br/>
  </li>
<% end %>
</ul>
