<header>
  <div class="appbar">
    <%= link_to "Home", "/", class: "home-link" %>

    <%= link_to "Get in touch", "mailto:Louluvsfrogs@gmail.com?subject=Right%20For%20You" %>
    <%= link_to "Privacy", "/privacy" %>
    <%= link_to "About", "/about" %>
    <%= link_to "Add Feedback", "/review" %>
  </div>
  <a href="/" class="logo">
    <img src="<%= asset_url "logo.png" %>" />
  </a>
  <% if flash[:message] %>
    <div class="appmessage">
      <%= flash[:message] %>
    </div>
  <% end %>

</header>
